body {
    background-color: rgb(131, 131, 131);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Убираем отступы по умолчанию */
}

.container {
    background-color: #e1e1e1;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    width: 300px; /* Задаем фиксированную ширину для контейнера */
}

h2 {
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 20px; /* Отступ снизу */
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}

.inputT {
    width: 100%; /* Полная ширина */
    padding: 10px; /* Отступы внутри поля */
    border: 1px solid #b9b9b9; /* Граница */
    border-radius: 5px; /* Закругление углов */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.inputT:focus {
    border-color: #989898;  /* Цвет границы при фокусе */
    outline: none; 
}

.submit-button {
    display: block; /* Делаем ссылку блочным элементом */
    text-align: center; /* Центрируем текст внутри ссылки */
    margin-bottom: 10px;
    background-color: #989898;  /* Цвет кнопки */
    color: black; /* Цвет текста */
    width: 100%; /* Полная ширина */
    max-width: 300px; 
    min-height: 20px;
    padding: 10px; /* Отступы внутри кнопки */
    border: 1px solid black;
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}
.href {
    display: block; /* Делаем ссылку блочным элементом */
    text-align: center; /* Центрируем текст внутри ссылки */
    margin-top: 10px; /* Отступ сверху, если нужно */
    background-color: #989898; /* Цвет фона, чтобы она выглядела как кнопка */
    color: black; /* Цвет текста */
    border: 1px solid black;
    padding: 10px; /* Отступы внутри ссылки */
    border-radius: 5px; /* Закругление углов */
    text-decoration: none; /* Убираем подчеркивание */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.href:hover {
    background-color: #b9b9b9; /* Цвет фона при наведении */
}
.submit-button:hover {
    background-color: #b9b9b9;  /* Цвет кнопки при наведении */
}
.errorT{
    color: red;
}